@import "../index.scss";

.analytics {
	position: relative;
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 100px;
	width: 100vw;
	height: 100vh;
	h1 {
		margin-bottom: 20px;
		font-weight: 500;
	}
	.sessions {
		max-height: 65vh;
		overflow-x: hidden;
		overflow-y: scroll;
		border-top: 1px solid black;
		background-color: rgba(255, 255, 255, 0.4);
		.session {
			position: relative;
			@include flex;
			justify-content: space-evenly;
			width: calc(100vw - 7px);
			padding: 5px 0;
			border-bottom: 1px solid black;
			span {
				flex: 1;
				text-align: center;
			}
			img {
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				width: 20px;
			}
		}
		.sticky {
			z-index: 1;
			position: sticky;
			top: 0;
			background-color: rgb(225, 225, 225);
		}
	}
	.options {
		position: absolute;
		@include flex;
		bottom: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 2px solid black;
		background-color: rgba(255, 255, 255, 0.6);
		img {
			width: 40px;
		}
	}
}
